@font-face {
  font-family: "fontAwesome";
  src: url(./font/my-font.woff2) format("woff2"), url(./font/my-font.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}

.font {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile {
  display: flex;
  justify-content: space-between;
  padding: 2em 3em;
  border-bottom: 1px solid black;
  flex-wrap: wrap;
}

.links {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.links-li {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.Logo {
  max-width: 50px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #000;
  box-shadow: 0 0 10px #000;
}

.ul-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  bottom: 0;
  height: 4em;
  padding-left: 1em;
  font-weight: 600;
  border-top: 1px solid #000;
  background-color: grey;
}

.cards-container {
  display: grid;
  padding: 3vh 10vw;
  gap: 30px;
}

.card {
  max-width: 100vw;
  padding: 2vh 3vw 5vh 3vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow:
    13px 13px 21px #a6a6a6,
    -13px -13px 21px #fff;
}

.card-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 3vh;
  max-width: 80%;
  align-items: center;
}

.like-count {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  min-width: 100%;
  min-height: 3vh;
}

.card-header-text {
  font-size: 1.5rem;
}

.card-image {
  max-width: 50vw;
}

.comments-button,
.reservations-button {
  width: 80%;
  border: 2px solid #000;
  min-height: 4vh;
  box-shadow: 3px 5px 3px #000;
  cursor: pointer;
}

.reservations-button {
  min-width: 100%;
}

.like-movie {
  max-width: 10vw;
}

.popUp-section {
  display: flex;
  background-color: red;
  position: fixed;
  padding: 2em;
  max-width: 100vw;
}

.popup-container {
  display: none;
  justify-content: center;
  font-size: 10px;
}

.containerPopUp {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: -10px;
  border-radius: 20px;
  padding-top: 3em;
  gap: 0.5em;
  max-width: inherit;
  min-height: 100vh;
  text-align: center;
  border: 5px solid black;
}

.close-popup {
  position: absolute;
  right: 0.5em;
  top: 0.7em;
  cursor: pointer;
}

.image-popup {
  min-width: 60vw;
  max-height: 30vh;
}

.description {
  display: flex;
  margin-block: 2em;
}

#comments {
  display: flex;
  flex-direction: column;
  margin-block-start: 1em;
  gap: 0.6em;
}

.shows-total-number {
  font-size: 1rem;
  color: #303030c4;
}

.footer-buttons {
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 760px) {
  .mobile {
    padding: 1em 10em;
  }

  .Logo {
    max-width: 80px;
  }

  .links-li {
    font-size: 2.2rem;
  }

  footer {
    padding-left: 3em;
  }

  .footer-text {
    margin-left: 8vw;
    font-size: 1.5rem;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 3vh 0;
    justify-content: center;
    align-items: center;

    /* max-height: 60vh;
    overflow-y: scroll; */
  }

  .card {
    max-width: 30vw;
  }

  .card-image {
    max-width: 10vw;
  }

  .like-movie {
    max-width: 2vw;
  }

  .card-header-text {
    font-size: 1rem;
  }

  .containerPopUp {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: -10px;
    border-radius: 20px;
    padding: 7em;
    gap: 0.5em;
    max-width: inherit;
    min-height: 100vh;
    text-align: center;
    border: 5px solid black;
  }

  .image-popup {
    min-width: 10vw;
    max-height: 30vh;
  }

  .shows-total-number {
    font-size: 1.5rem;
  }
}
